doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/principal.css")
        title Principal
    header 
      h3 Bienvenido #{user.username}
    body
     
    .contenedor
      .menu
        // Coloca aquí tu menú
        ul
          li Menu 1
          li Menu 2
          li Menu 3
          li menu 4
          li Menu 5
          li Menu 6
          li Menu 7
          li menu 8       
      .contenido
        // Coloca aquí el resto del contenido
        h1 Préscripción Médica
        h3 Complete todos los campos a continuacion para generar una préscripción Médica
        form(action="http://localhost:3000/submit-form" method="post")
         label(for="pacientes") Seleccione un paciente:
          input#pacientes(type="text",list="pacienteSug",required)
          datalist#pacienteSug
           each paciente in pacientes
            option(paciente-data-value=(paciente.ID)) #{paciente.Nombre} #{paciente.Apellido} 
          input#pacienteID(type="hidden", name="PacienteID",required)
         br
         br
         label(for="diagnostico") Diagnostico:
         textarea(type="text",maxlength="500", required, placeholder="Inserte diagnostico",rows="5", name="diagnostico")#diagnostico
         br
         br
         div#divmedicamentos
          label(for="medicamentos") Seleccione un Medicamento:
           input#medicamentos(type="text",list="medicamentoSug",required)
           datalist#medicamentoSug
            each medicamento in medicamentos 
             option(data-value=(medicamento.ID)) #{medicamento.Nombre}
           input#medicamentoID(type="text", name="medicamentoID")

         div#divmedicamentos2(style="visibility:hidden;")
          label(for="medicamentos2") Seleccione un Medicamento:
           input#medicamentos2(type="text",list="medicamentoSug")
           datalist#medicamentoSug
            each medicamento in medicamentos 
             option(data-value=(medicamento.ID)) #{medicamento.Nombre}
           input#medicamentoID2(type="text", name="medicamentoID2")

         div#divmedicamentos3(style="visibility:hidden;")
          label(for="medicamentos2") Seleccione un Medicamento:
           input#medicamentos3(type="text",list="medicamentoSug")
           datalist#medicamentoSug
            each medicamento in medicamentos 
             option(data-value=(medicamento.ID)) #{medicamento.Nombre}
           input#medicamentoID3(type="text", name="medicamentoID3")

         button#sumar Sumar 
         button#restar Restar   
         br
         br
         label(for="prestaciones") Seleccione una Prestacion:
          input#prestaciones(type="text",required,list="prestacionSug")
          datalist#prestacionSug 
           each prestacion in prestaciones
            option(prestacion-data-value=(prestacion.ID)) #{prestacion.Descripcion}
          input#prestacionID(type="hidden",name="prestacionID",required) 
         br
         br
         label(for="lado") Seleccione lado 
          select#lado(name="lado",required)
            option(value="") Lado    
         br
         br
         button(type="submit") Enviar Prescripcion

        button#logout Cerrar Sesión  
      script(src="/scripts/principal.js") 
    footer 
     h4 Copyright 2024. Todos los derechos reservados  